<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100031179691-6eaheljp5rfr7u32dl7se9opvmfe8uss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100031179691-6eaheljp5rfr7u32dl7se9opvmfe8uss</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100031179691-kqa7dr49npf1ug09ipgcbjr516ibkdsa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBioiPtUA12eYhtJQILD3AScpcDj48gUQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>100031179691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mechsit.quizmaker</string>
	<key>PROJECT_ID</key>
	<string>quizmaker-1c573</string>
	<key>STORAGE_BUCKET</key>
	<string>quizmaker-1c573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100031179691:ios:75a3518a44b38e99cc00ee</string>
</dict>
</plist>